<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/show_orders.css">
</head>
<body>
  <div id="change_order_state_div">
    
  </div>


  <div class="show-orders-navbar-container">
    <div class="show-orders-navbar">
      <form method="POST" action="/order/searchbar" id="search-bar-form" class="nav-bar-form">
        <input class="nav-bar-search-bar" type="text" name="search_bar" id="search_bar" value="" placeholder="Sök på kunder">

        <div class="show-orders-filter-container">
          <div class="filter-state">
            <label for="filter-state-registrerad" class="filter-state-label">Registrerad:</label>
            <input class="nav-bar-filter" type="radio" name="state-filter" id="filter-state-registrerad" value="Registrerad">
  
            <label for="filter-state-görs" class="filter-state-label">Görs:</label>
            <input class="nav-bar-filter" type="radio" name="state-filter" id="filter-state-görs" value="Görs">
  
            <label for="filter-state-färdig" class="filter-state-label">Färdig:</label>
            <input class="nav-bar-filter" type="radio" name="state-filter" id="filter-state-färdig" value="Färdig">
  
            <label for="filter-state-hämtad" class="filter-state-label">Hämtad:</label>
            <input class="nav-bar-filter" type="radio" name="state-filter" id="filter-state-hämtad" value="Hämtad">
  
            <label for="filter-state-none" class="filter-state-label">Inget filter:</label>
            <input class="nav-bar-filter" type="radio" name="state-filter" id="filter-state-none" value="" checked>
          </div>
        </div>

        <button type="submit" class="nav-bar-submit" name="nav-bar-submit" value="Submit" id="nav-bar-submit-button">Sök</button>
      </form>
    </div>
  </div>

  <div class="show-orders-order-list-container">
    <ul class="show-orders-order-list">
      <%= for {order, index} <- Enum.with_index(orders) do%>
        <%= if order.state != "" do%>
          <li class="show-orders-order-item" id=<%="order-item#{index}"%>>
            <span class="show-order-item-collapse-button" id=<%="#{index}"%>></span>
            <span class="show-order-item-order-id"><%=order.order_id%></span>
            <span class="show-order-item-user-name"><%=order.user_name%></span>
            <span class="show-order-item-price"><%= order.total_price%> SEK</span>
            <span class="show-order-item-state" id=<%="item-state-#{order.state}"%>><%= order.state%></span>
          </li>
          <div class="collapsible-content" id=<%="collapsible-content#{index}"%>>
            <ul class="show-order-collapsible-content-list">
            <%= for pizzas <- order.order do%>
              <li class="show-order-collapsible-content-list-item">
                <p><%= pizzas.amount%>st <%=pizzas.pizza_name%> - <%= pizzas.size%></p>

                <%= if pizzas.add != [] do%>
                  <p>+
                    <%= for {adds, adds_index} <- Enum.with_index(pizzas.add) do%>
                      <%= if adds_index == length(pizzas.add)-1 do%>
                        <%=adds%>
                      <% else%>
                        <%=adds%>,
                      <% end%>
                    <% end%>
                  </p>
                <% end%>

                <%= if pizzas.sub != [] do%>
                  <p>-
                    <%= for {subs, subs_index} <- Enum.with_index(pizzas.sub) do%>
                      <%= if subs_index == length(pizzas.sub)-1 do%>
                        <%=subs%>
                      <% else%>
                        <%=subs%>,
                      <% end%>
                    <% end%>
                  </p>
                <% end%>

                <span><%= pizzas.price%> SEK</span>
              </li>
            <% end%>
            </ul>
          <div class="show-order-collapsible-content-info">
            <span>
              <%= order.total_price%> SEK
            </span>
            <form action="/order/change-state" method="POST">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <button type="submit" class="show-order-collapsible-content-change-status" name="new_state" value="Registrerad" id="change-state-Registrerad">Registrerad</button>
            </form>
            <form action="/order/change-state" method="POST">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <button type="submit" class="show-order-collapsible-content-change-status" name="new_state" value="Görs" id="change-state-Görs">Görs</button>
            </form>
            <form action="/order/change-state" method="POST">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <button type="submit" class="show-order-collapsible-content-change-status" name="new_state" value="Färdig" id="change-state-Färdig">Färdig</button>
            </form>
            <form action="/order/change-state" method="POST">
              <input type="hidden" name="order_id" value="<%= order.order_id %>">
              <button type="submit" class="show-order-collapsible-content-change-status" name="new_state" value="Hämtad" id="change-state-Hämtad">Hämtad</button>
            </form>

            <form id="remove-order-form" action="/order/remove-order" method="POST">
              <input type="hidden" name="order_id" id="remove_order_id" value="<%=order.order_id%>">
              <button type="submit" class="show-order-collapsible-content-remove-order" id="remove-order">Ta bort</button>
            </form>
          </div>
        </div>
        <% end%>
      <%end%>
    </ul>
  </div>
</body>



<script>
// Select all divs with the class "show-order-item-collapse-button"
const buttonDivs = document.querySelectorAll('.show-order-item-collapse-button');

// Add a click event listener to each button-like div
buttonDivs.forEach(div => {
  div.addEventListener('click', function(event) {
    // Get the clicked div (this is the div that was clicked)
    const clickedDiv = event.currentTarget;

    this.classList.toggle("active");
    var content = document.getElementById("collapsible-content"+clickedDiv.id);
    var list_item = document.getElementById("order-item"+clickedDiv.id)
    if (content.style.display === "flex") {
      content.style.display = "none";

      list_item.style.borderBottomLeftRadius = "10px";
      list_item.style.borderBottomRightRadius = "10px";
    } else {
      content.style.display = "flex";

      list_item.style.borderBottomLeftRadius = "0px";
      list_item.style.borderBottomRightRadius = "0px";
    }
  });
});


</script>
</html>