<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="checkout.css">
</head>
<body>
  <h1>Checkout</h1>

  <h2>Your Current Order</h2>


  <!-- Check if there are any orders -->
  <%= if Enum.empty?(orders) do %>
  <p class="empty-cart-message">Your cart is empty.</p>
  <% else %>
    <ul>
      <!-- Iterate over each order and its pizzas -->
      <%= for order <- orders do %>
        <%= for pizza <- order.order do %>
          <li>
            <div class="pizza-details">
              <img class="pizza-image" src='/uploads/pizzas/<%= String.replace(pizza.pizza_name, " ", "-") %>.svg' alt=""> <span><%= pizza.pizza_name %></span> |
              <span>Antal:</span> <span><%= pizza.amount %></span> |
              <span>Storlek:</span> <span><%= pizza.size %></span> |
              <%= if pizza.add != [] || pizza.sub != [] do %>
              <span>Ändringar:</span> 
              <div class="changes-container">
                  <%= for add <- pizza.add do %>
                  <span class="changed">+ <%= add %></span>
                  <% end %>
                  <%= for sub <- pizza.sub do %>
                  <span class="changed">- <%= sub %></span>
                  <% end %>
              </div> |
              <% end %>
              <span>Pris:</span> <span>$<%= pizza.price %></span>
            </div>
            <form action="/order/remove-order-part" method="post" style="display:inline;">
              <input type="hidden" name="pizzaId" value="<%= pizza.pizza_id %>">
              <input type="hidden" name="size" value="<%= pizza.size %>">
              <input type="hidden" name="add" value='<%= Enum.join(pizza.add, "&&&&") %>'>
              <input type="hidden" name="sub" value='<%= Enum.join(pizza.sub, "&&&&") %>'>
              <button type="submit" class="remove-button">Remove</button>
          </form>
          </li>
        <% end %>
      <% end %>
        <!-- Display the total amount only if there are orders -->
  <%= if !Enum.empty?(orders) do %>
    <p>Total Amount: <span id="total-amount">$<%= total_amount %></span></p>
  <% end %>

  <!-- Form to finalize the order -->


  <form action="/checkout/finalize" method="post">
    <input type="hidden" name="order_id" value="<%= if !Enum.empty?(orders) do List.first(orders).order_id else "" end %>">
    <button type="submit" <% if Enum.empty?(orders) do %>disabled<% end %> >Complete Order</button>
  </form>
  

  <% end %>


  <a href="/">Back to Home</a>
  
</body>
</html>
