<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/users/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <br/>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd" required />
    <br/>
    <input type="submit" value="Log In" />
  </form>
  <p>Don't have an account? <a href="/signup">Sign up here</a></p>
</body>
</html>
