<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Welcome to Pluggy</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
	<link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/customize.css">
</head>
<body>
    <header>
        <img id="user-logo" src="/images/user-logo.png" alt="" onClick="window.location.href = '/login'">
        <img id="tonys-pizza-logo" src="/images/tonys-pizza-logo.svg" alt="" onClick="window.location.href = '/main'">
        <div id="checkout-basket-container">
            <img id="checkout-basket" src="/images/tonys-pizza-basket.svg" alt="" onClick="window.location.href = '/checkout'">
            <div id="checkout-basket-counter">20</div>
        </div>
    </header>
	<%= template %>
	<footer></footer>
</body>
</html>
