<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Welcome to Pluggy</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
	<link rel="stylesheet" type="text/css" href="/layout.css">
</head>
<body>
    <header>
        <div id="user-logo-container">
            <img id="user-logo" src="/images/user-logo.png" alt="" onClick="window.location.href = '/change_password'">
            <p id="user-text"><%= user_name %></p>
        </div>
        <img id="tonys-pizza-logo" src="/images/tonys-pizza-logo.svg" alt="" onClick="window.location.href = '/main'">
        <div id="checkout-basket-container">
            <img id="checkout-basket" src="/images/tonys-pizza-basket.svg" alt="" onClick="window.location.href = '/checkout'">
            <%= if basket_amount > 0 do %>
                <div id="checkout-basket-counter"><%= basket_amount %></div>
            <% end %>
            <div id="checkout-basket-list-container">
                <br/>
                <%= if basket_amount > 0 do %>
                    <%= for order <- orders do %>
                        <%= for pizza <- order.order do %>
                        <div class="checkout-basket-pizza-details-container">
                            <img class="checkout-basket-list-pizza-image" src='/uploads/pizzas/<%= String.replace(pizza.pizza_name, " ", "-") %>.svg' alt="">
                            <div class="checkout-basket-pizza-details">
                                <span><strong><%= pizza.pizza_name %></strong></span>
                                <br/>
                                <form action="/pizza/amount/update">
                                    Antal: <input type="number" class="pizza-amount" name="pizza-checkout-basket-amount-<%= pizza.pizza_id %>" id="pizza-checkout-basket-amount-<%= pizza.pizza_id %>" value="<%= pizza.amount %>">
                                    <input type="hidden" name="pizzaId" value="<%= pizza.pizza_id %>">
                                    <input type="hidden" name="size" value="<%= pizza.size %>">
                                    <input type="hidden" name="add" value='<%= Enum.join(pizza.add, "&&&&") %>'>
                                    <input type="hidden" name="sub" value='<%= Enum.join(pizza.sub, "&&&&") %>'>
                                </form>
                                <span>Storlek:</span> <span><%= pizza.size %></span>
                                <br/>
                                <%= if pizza.add != [] || pizza.sub != [] do %>
                                <span>Ändringar:</span> 
                                <br/>
                                    <%= for add <- pizza.add do %>
                                    <span class="checkout-basket-list-changed">+<%= add %></span>
                                    <br/>
                                    <% end %>
                                    <%= for sub <- pizza.sub do %>
                                    <span class="checkout-basket-list-changed">-<%= sub %></span>
                                    <br/>
                                    <% end %>
                                <% end %>
                                <span>Pris:</span> <span><%= pizza.price %> Kr</span>
                            </div>
                            <form action="/order/remove-order-part" method="post" style="display:inline;">
                                <input type="hidden" name="pizzaId" value="<%= pizza.pizza_id %>">
                                <input type="hidden" name="size" value="<%= pizza.size %>">
                                <input type="hidden" name="add" value='<%= Enum.join(pizza.add, "&&&&") %>'>
                                <input type="hidden" name="sub" value='<%= Enum.join(pizza.sub, "&&&&") %>'>
                                <button type="submit" class="remove-button">Remove</button>
                            </form>
                        </div>
                        <br/>
                        <% end %>
                    <% end %>
                <% else %>
                    <h2>Din korg är tom!</h2>
                <% end %>
            </div>
        </div>
    </header>
	<%= template %>
	<footer></footer>

    <script>
        const basket = document.getElementById("checkout-basket");
        const container = document.getElementById("checkout-basket-list-container");

        basket.addEventListener("mouseover", function() {
            container.style.display = "block";
        });

        basket.addEventListener("mouseout", function() {
            container.style.display = "none";
        });

        container.addEventListener("mouseover", function() {
            container.style.display = "block";
        });

        container.addEventListener("mouseout", function() {
            container.style.display = "none";
        });
    </script>
</body>
</html>
